@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}
.fonts{
    font-family: 'Berkshire Swash';
}
main,footer{
    background: #151515;
}
/* button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: black;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
} */

