@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}
.fonts{
    font-family: 'Berkshire Swash';
}
main,footer{
    background: #151515;
}